<h1>Your Text Analysis</h1>

<h2>Number of Words:
  <%  words = @text_from_user.split(" ")%>
  <%= words.size %>
</h2>

<h2>Vowels: <%=@text_from_user.scan(/[aeoiu]/).count%>

 </h2>

<h2>Consonants: <%= @text_from_user.scan(/[bcdfghjklmnpqrstvwxyz]/).count
%></h2>

<h2>Most Common Letter:
<%s1 =  @text_from_user.gsub(/[^a-z]/, '')%>
<%arr = s1.split('')%>
<%arr1 = arr.uniq%>
<%arr2 = {}%>
<%arr1.map do |c|%>
<%arr2[c] =  arr.count(c)%>
<%end%>
<%biggest = { arr2.keys.first => arr2.values.first }%>
<%arr2.each do |key, value|%>
<%if value > biggest.values.first%>
<% biggest = {}%>
<% biggest[key] = value%>
<%end%>
<%end%>
<%=biggest%>
<%=biggest[key]%>  times
</h2>
